.container-A {
    display: flex;
    justify-content: space-between;
    background-color: rgb(252, 152, 252);
  }
  .links-a {
    display: flex;
    justify-content: flex-end;
  }
  /* div {
      border: 1px black solid;
  } */
  .otherDiv {
      padding-top: 42px;
  }
  .githubLinks {
      color: black;
  }
  img {
      width: 15px;
      height: 15px;
  }